body{ 

height: 100vh;

}
	#cardsContainer{ 

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap : 10px;
	margin-top: 20px;
 }
 .cards{ 
border-width:2px;

border-radius: 10px;
background-color: #8192AD;
  padding: 10px;
  font-family: monospace;
  text-align: center;

  }

  #forumContainer{ 
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}
input { 
grid-column: 1;
height: 30px;
border-radius: 15px;
border-width: 1px;
margin-top: 10px;
margin-bottom: 10px;
font-family: monospace;
text-align: center;
}
#submitButton{
grid-column: 1 ;
}
#addBtn{ 
grid-column: 1;
 }

 button{ 
background-color: #8192AD; 
font-family: monospace;
padding: 20px;
border-radius: 10px;
border-width: 0;
font-size: 20px;
  }