body{ 

height: 100vh;
background-color: #160835;

}
	#cardsContainer{ 

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap : 10px;
	margin-top: 20px;
 }
 .cards{ 
border-width:2px;

border-radius: 10px;
background-color: #9C973E;
  padding: 10px;
  font-family: monospace;
  text-align: center;

  }

  #forumContainer{ 
 display: flex;
 flex-direction: column;
 margin-left: 200px;
 margin-right: 200px;

}
input { 
grid-column: 1;
height: 30px;
border-radius: 15px;
border-width: 2px;
border-color:  #9C973E;
border-style: solid;
margin-top: 10px;
margin-bottom: 10px;
font-family: monospace;
text-align: center;
background-color: #160835;
font-weight: 600;
}
input:focus{ 
background-color: #16084D;

 }
#submitButton{
grid-column: 1 ;
}


.btnContainer{
	display: flex;
justify-content: center;
}


 button{ 
background-color: #9C973E; 
font-family: monospace;
padding: 20px;
border-radius: 10px;

font-size: 20px;
  }
  button:hover{

  	background-color:#7A853E;
  }
  .titleHeader{ 

  text-align:center;
  font-family: monospace;
  font-size: 36px;
   color: #7A853E;



 }